name: build
on:
  pull_request:
  push:
  schedule:
    - cron: '0 17 * * *'
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
      with:
        nix_path: nixpkgs=channel:nixpkgs-unstable
    - uses: cachix/cachix-action@v12
      with:
        name: wxt1221
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix build .#linux-roc-rk3328-cc
